<div class="max-w-lg m-auto px-4">
  <h1 class="text-3xl mt-10">Editar sessões</h1>
  <p class="text-lg text-gray-900 mb-6">Modifique sua sessão de consultoria escolhendo o melhor horário para você abaixo.</p>
  <%= render 'form', meeting: @meeting %>
</div>