<div class="max-w-lg m-auto px-4">
  <h1 class="text-3xl mt-10 text-center">Agende uma nova sessão</h1>
  <p class="text-lg text-gray-900 mb-6">Agende uma nova sessão de consultoria escolhendo abaixo o melhor horário para você.</p>
  <%= render 'form', meeting: @meeting %>
</div>
